@import "tailwindcss";

/* Theme CSS Custom Properties */
:root {
  --theme-primary: #FFFFFF;
  --theme-secondary: #FFFFFF;
  --theme-accent: #FFFFFF;
  --theme-background: #FFFFFF;
  --theme-text: #FFFFFF;
}

@theme {
    --color-prime: var(--theme-primary);
    --color-prime2: var(--theme-secondary);
    --color-accent: var(--theme-accent);
    --color-background: var(--theme-background);
    --color-text: var(--theme-text);
  
    --font-poppins: var(--font-poppins);
    --font-roboto: var(--font-roboto);
  }
  
@utility font-poppins {
    font-family: var(--font-poppins), sans-serif;
  }
@utility font-roboto {
    font-family: var(--font-roboto), sans-serif;
  }


