@import "tailwindcss";


   
@theme {
    --color-prime: #203540;
    --color-prime2: #202540;
  
    --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
  }
  
@utility font-poppins {
    font-family: var(--font-poppins), sans-serif;
  }
@utility font-roboto {
    font-family: var(--font-roboto), sans-serif;
  }


.border {
  border: 2px solid red;
 } 